# Created by .ignore support plugin (hsz.mobi)
test.py
*.xml
*.pyc
config/spider.yaml
logs/*.txt
tests
将删除 .idea/WeiboSpiderO.iml
将删除 do_dataprocess/do_searchprocess/__pycache__/
将删除 logs/
将删除 requirements.txt
将删除 task/__pycache__/get_searchinfo.cpython-35.pyc
将删除 weibo_entities/__pycache__/weibo_search_data.cpython-35.pyc
将删除 .idea/
将删除 db_operation/__pycache__/
将删除 do_dataget/__pycache__/
将删除 do_dataprocess/__pycache__/
将删除 task/__pycache__/
将删除 weibo_decorator/__pycache__/
将删除 weibo_entities/__pycache__/
将删除 __pycache__/
将删除 config/__pycache__/
将删除 do_login/__pycache__/
将删除 logger/__pycache__/
将删除 tests/
将删除 data_get/__pycache__/
将删除 data_process/__pycache__/
将删除 data_process/do_searchprocess/__pycache__/
将删除 data_process/do_statusprocess/__pycache__/
将删除 data_process/get_userprocess/__pycache__/
将删除 weibo_login/__pycache__/
将删除 utils/__pycache__/
